﻿@{
    ViewBag.Title = "Home";
}
<div class="wrapper row2">
    <main id="container" class="clear">
        <div id="homepage">
            <div id="services">
                <ul class="clear">
                    <li>
                        <article>
                            <a class="service s-1" href="#">
                                <h2>Service Title</h2>
                                <p>Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                            </a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a class="service s-2" href="#">
                                <h2>Service Title</h2>
                                <p>Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                            </a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a class="service s-3" href="#">
                                <h2>Service Title</h2>
                                <p>Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                            </a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a class="service s-4" href="#">
                                <h2>Service Title</h2>
                                <p>Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                            </a>
                        </article>
                    </li>
                </ul>
            </div>
            <div id="showcase">
                <h2><span>Latest Work</span></h2>
                <ul class="clear">
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                    <li>
                        <figure><a href="#"><img src="images/gallery/thumbs/290x190.gif" alt=""> <strong>Lorem ipsum dolor</strong></a></figure>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>
<div class="wrapper row3">
    <footer id="footer" class="clear">
        <div class="one_quarter first">
            <h2 class="title">From The Blog</h2>
            <article>
                <div class="header">
                    <h2><a href="#">Blog Post Title</a></h2>
                    <time datetime="2000-04-06">Friday, 6<sup>th</sup> April 2000</time>
                </div>
                <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt.</p>
                <p>Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet.</p>
                <p><a href="#">Read More &raquo;</a></p>
            </article>
        </div>
        <div class="one_quarter">
            <h2 class="title">Quick Links</h2>
            <nav>
                <ul>
                    <li class="first"><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Praesent vel sem id</a></li>
                    <li><a href="#">Curabitur hendrerit est</a></li>
                    <li><a href="#">Aliquam eget erat nec sapien</a></li>
                    <li><a href="#">Cras id augue nunc</a></li>
                    <li><a href="#">In nec justo non</a></li>
                </ul>
            </nav>
        </div>
        <div class="one_quarter">
            <h2 class="title">About Us</h2>
            <figure class="imgholder"><img src="images/demo/215x90.gif" alt=""></figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper pellentesque.</p>
            <p>
                Tel: xxxxx xxxxxxxxxx<br>
                Fax: xxxxx xxxxxxxxxx<br>
                Email: <a href="#">contact@mydomain.com</a>
            </p>
        </div>
        <div class="one_quarter">
            <h2 class="title">Contact Us</h2>
            <form method="post" action="#">
                <fieldset>
                    <legend>Contact Form:</legend>
                    <label for="cf_name">Name:</label>
                    <input type="text" name="cf_name" id="cf_name" value="">
                    <label for="cf_email">Email:</label>
                    <input type="text" name="cf_email" id="cf_email" value="">
                    <label for="cf_subject">Subject:</label>
                    <input type="text" name="cf_subject" id="cf_subject" value="">
                    <label for="cf_message">Message:</label>
                    <textarea name="cf_message" id="cf_message" cols="45" rows="10"></textarea>
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </footer>
</div>