﻿<!DOCTYPE html>
<html>
<head>
    <title>SJF | @ViewBag.Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/styles/layout.css" type="text/css">
</head>
<body id="top">
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="logo">
                <h1><a href="index.html">The Modernist</a></h1>
                <p>Free Website Template</p>
            </div>
            <nav>
                <ul class="clear">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li>
                        <a class="drop" href="#">Pages</a>
                        <ul>
                            <li><a href="pages/gallery.html">Gallery</a></li>
                            <li><a href="pages/full-width.html">Full Width</a></li>
                            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Link Text</a></li>
                    <li><a href="#">Link Text</a></li>
                    <li><a href="#">Link Text</a></li>
                    <li><a href="#">Link Text</a></li>
                </ul>
            </nav>
        </header>
        <div id="slider" class="jcarousel-wrapper">
            <div id="slider_content" class="jcarousel">
                <ul>
                    <li>
                        <figure>
                            <a href="#"><img src="images/slider/1.png" alt=""></a>
                            <figcaption>
                                <h2>Cursus penati saccum nulla.</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
                                <footer><a href="#">Read More Here &raquo;</a></footer>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#"><img src="images/slider/2.png" alt=""></a>
                            <figcaption>
                                <h2>Cursus penati saccum nulla.</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
                                <footer><a href="#">Read More Here &raquo;</a></footer>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#"><img src="images/slider/3.png" alt=""></a>
                            <figcaption>
                                <h2>Cursus penati saccum nulla.</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
                                <footer><a href="#">Read More Here &raquo;</a></footer>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <a href="#" id="featured-item-prev" class="jcarousel-control-prev">&laquo; Previous</a> <a href="#" id="featured-item-next" class="jcarousel-control-next">Next &raquo;</a>
        </div>
    </div>
    @RenderBody()
    <div class="wrapper row4">
        <div id="copyright" class="clear">
            <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        </div>
    </div>
    <script src="layout/scripts/jquery-latest.min.js"></script>
    <script src="layout/scripts/jquery.defaultvalue.js"></script>
    <script>
$(document).ready(function () {
    $("#cf_name, #cf_email, #cf_subject, #cf_message").defaultvalue("Full Name", "Email Address", "Subject", "Message");
});
    </script>
    <script src="~/Content/scripts/jquery.grayscale.js"></script>
    <script src="~/Content/scripts/carousel/jquery.jcarousel.pack.js"></script>
    <script src="~/Content/scripts/carousel/jquery.jcarousel.setup.js"></script>
</body>
</html>